% include('header', title='Home')
    <main>
        <a href="/logout">Log out</a>

        % if user:
            <form onsubmit="return false">
                <input name="user_id" type="hidden" value="{{ user['user_id']}}">
                <textarea id="tweet_text" name="tweet_text" id="tweet_text" cols="30" rows="10"></textarea>
                <input id="tweet_image_src" name="tweet_image_src" type="file" accept="image/png, image/jpg, image/jpeg">
                <button onclick="tweet()">Twat this</button>
            </form>
        % end

        <section id="updateTweet" style="display: none;">
            
        </section>
    
        <section id="tweets">
            % for tweet in tweets:
                <form id="tweet_{{ tweet['tweet_id' ]}}" onsubmit="return false" class="tweet">
                    <img src="./images/{{ tweet['user_image_src'] }}">
                    <p>{{ tweet['user_first_name'] }} {{ tweet['user_last_name'] }}</p>
                    <p>@{{ tweet['user_handle'] }}</p>
                    <input name="tweet_id" type="hidden" value="{{ tweet['tweet_id'] }}">
                    <input name="user_id" type="hidden" value="{{ tweet['user_id'] }}">
                    <p id="tweetText">{{ tweet['tweet_text'] }}</p>
                    % if not tweet['tweet_image_src'] == "":
                        <img class="tweetImage" src="./images/{{ tweet['tweet_image_src'] }}">
                    % end
                    <p id="tweetCreatedAt">{{ tweet['tweet_created_at_date'] }}</p>
                    <button>Like</button>
                    <button>Dislike</button>
                    % if user['user_id'] == tweet['user_id']:
                        <button onclick="toggleUpdateTweet()">Update</button>
                    % end
                    <button>Delete</button>
                </form>
            % end
        </section>
    
        
    </main>

    <template id="updateTweetTemp">
        <form onsubmit="return false">
            <input type="hidden" name="tweet_id">
            <textarea name="tweet_text"></textarea>
            <input type="file">
            <input type="hidden" name="tweet_image_src">
            <button onclick="updateTweet()">Update Tweet</button>
            <button class="delete">X</button>
            <img>
            <span class="hint" style="display: none;"></span>
        </form>
    </template>

    <template id="tweetTemp">
        <form onsubmit="return false">
            <img id="userImage">
            <p id="userName"></p>
            <p id="userHandle"></p>
            <input name="tweet_id" type="hidden">
            <input name="user_id" type="hidden">
            <p id="tweetText" class="tweetImage"></p>
            <img id="#tweetImage">
            <p id="tweetCreatedAtDate"></p>
            <button>Like</button>
            <button>Dislike</button>
            <button onclick="toggleUpdateTweet()">Update</button>
            <button>Delete</button>
        </form>
    </template>
% include('footer')